html{
    margin: 0;
    height: 100vh;
    width: 100vw;
    /*background-image: url("https://sun9-42.userapi.com/impg/au0YQ8y1CImFFMmFGrBpkudMn5XzjQanSao5CA/uFU8BZIkoys.jpg?size=1280x767&quality=96&sign=bf443493528071742b16804ee8950264&type=album");*/
    background-image: url("https://sun9-86.userapi.com/impg/OJzyaZlPEkCxP-8ofJvJNx6z9zmctMryyVW4hQ/5YfF44BiX-I.jpg?size=1280x603&quality=96&sign=56d7ab03ec224fbfe5473b50fad12aa6&type=album");
    background-size: 100%;
    min-height: 100%;
    min-width: 100%;
}
body{
    margin: 0;
}

